*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.about-container {
    background-image: url('../assets/about.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 119.5px;
    margin: 0;
  }
  
  .about-content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
  }
  