.add-post-container {
    position: relative;
    min-height: 100vh;
    padding-top: 130px; 
    padding-bottom: 85px; 
  }
  
  .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#bde0fe;
  }
  
  .form-container {
    position: relative;
    z-index: 1;
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 10px;
  }
  
  .form-input,
  .form-textarea,
  .form-select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-select {
    appearance: none;
  }
  
  .submit-button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  