/* Edit Post Styles */


.edit-post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px;
  background-color: #dee2ff;
}

.form-container {
  max-width: 600px;
  width: 100%;
}

.form-container h2 {
  margin-bottom: 20px;
}

.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-textarea {
  resize: vertical;
}

.edit-button,
.delete-button {
  width: calc(50% - 5px); /* Adjusted button width for two buttons with a small space between them */
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.edit-button:hover,
.delete-button:hover {
  background-color: #0056b3;
}

