/* MainPage.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    height: 100vh;
    margin: 0;
    background-color: #CCD6D4;
  }
  
  .main-page {
    display: flex;
    width: 100%;
  }
  
  .sidebar {
    width: 200px;
    /* background: linear-gradient(45deg, #333, #555); */
    background:#283a2C;
    color: white;
    padding: 20px;
    margin-right: 100px;
    height: 100vh; 
    position: fixed; 
    left: 0;
    top: 0; 
    overflow-y: auto;
  }
  
  .sidebar ul {
    list-style-type: none;
    padding: 0;
  }
  
  .sidebar li {
    margin-bottom: 20px;
  }
  
  .sidebar a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease, background-color 0.3s ease;
    display: block;
    padding: 10px;
    margin-top: 33px;
    margin-left: 23px;
    border-radius: 5px;
  }
  
  .sidebar a:hover {
    color: #ff6347;
    background-color: rgba(255, 99, 71, 0.2);
  }
  
  .content {
    flex: 1;
    padding: 10px;
    margin-left: 200px; /* Adjust content margin to account for fixed sidebar */
  }
  